MONGODB_URI=

PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=edushare_platform
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

FE_URL=

THROTTLE_TTL=600000
THROTTLE_LIMIT=100

JWT_SECRET=JWT_SECRET_${APP_NAME}

MULTER_DESTINATION_FILE=./uploads

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CACHE_INTERNAL_TTL=30000

MAIL_INCOMING_USER=
MAIL_INCOMING_PASS=
MAIL_HOST=
MAIL_PORT=

